<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
         <li>
            <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li><a style="font-size:20px;"><i class="fa fa-home"></i> Sales</a>
             <ul class="nav child_menu">
                 <li><a href="/admin/sale">New Sale</a></li>
                 <li><a href="/admin/saleshistory">Sales History</a></li>
             </ul>
        </li>
        <li><a style="font-size:20px;"><i class="fa fa-home"></i> Inventory</a>
             <ul class="nav child_menu">
                 <li><a href="/admin/batch">Batch</a></li>
                 <li><a href="/admin/medicine">Medicine</a></li>
                 <li><a href="/admin/supplier">Supplier</a></li>
                 <li><a href="/admin/category">Category</a></li>
                 <li><a href="/admin/genericname">Drug Generic Name</a></li>
                 <li><a href="/admin/manufacturer">Manufacturer</a></li>
             </ul>
        </li>
        <li>
            <a href="/admin/usermanagement"><i class="fa fa-fw fa-edit"></i> User Management</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
</nav>
