<% include inc/view_header %>
<% include inc/view_topmenu %>
<% include inc/view_sidebar %>
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center">
                    List of Category
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="container" style="float: left; font-size:17px;">
          <a href="/admin/category/create">Create</a>
        </div>

        <div class="row">
            <div class="col-lg-5 col-lg-offset-3">


            </div>
        </div>
        <!-- /.row -->
        <br>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% category.forEach(function(item){ %>
                    <tr>
                        <td><%= item.ID %></td>
                        <td><%= item.Category %></td>
                        <td><a href="/admin/category/edit/<%= item.ID %>">Edit |</a>
                        <a href="/admin/category/delid=<%= item.ID %>" onclick="return confirm('Are You Sure to Delete?')">Delete</a></td>
                    </tr>
                    <% }) %>
                    </tbody>

                </table>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->



<% include inc/view_footer.ejs %>
